{% extends "admin/layout.twig" %}
{% block content %}
<section class="content-header">
    <h1>
        {{ navigate }}
        <small>Painel de controle</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/admin"><i class="fa fa-cogs"></i> Admin</a>
        </li>
        <li>
            <i class="fa fa-calendar"></i> Cursos / Eventos</a>
        </li>
        <li class="active">{{ navigate }}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-8" style="text-align: left; margin-bottom: 10px;">
            <span>
                Alterar Curso/Evento:
                <select id='select-event' class="form-control select2" style="width: auto;min-width: 250px;">
                    {% for obj in events %}
                    <option value='{{obj.id}}'>{{obj.title}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
        <div class="col-lg-4" style="text-align: right; margin-bottom: 10px;">
            <div class="info-datatable"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <table id="registers" class="table table-hover table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr role="row">
                            <th tabindex="0" aria-label="Código: activate to sort column ascending">
                                Código
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="registers" aria-label="Dt. Cadastro: activate to sort column ascending" aria-sort="ascending">
                                Dt. Cadastro
                            </th>
                            <th tabindex="0" aria-label="Empresa: activate to sort column">
                                Empresa
                            </th>
                            <th tabindex="0" aria-label="Responsável: activate to sort column">
                                Responsável
                            </th>
                            <th tabindex="0" aria-label="Num. Fatura: activate to sort column">
                                Num. Fatura
                            </th>
                            <th tabindex="0" aria-label="Vencimento: activate to sort column">
                                Vencimento
                            </th>
                            <th tabindex="0" aria-label="Valor: activate to sort column">
                                Valor
                            </th>
                            <th tabindex="0" aria-label="Status: activate to sort column">
                                Status
                            </th>
                            <th tabindex="0" aria-label="Opções: activate to sort column">
                                Opções
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Dt. Cadastro</th>
                            <th>Empresa</th>
                            <th>Responsável</th>
                            <th>Num. Fatura</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Opções</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% include modal ignore missing %}
{% endblock %}

{% block header_page %}
<script>
    _eventID = {{event.id}};
</script>
<script type="text/javascript" src="/assets/js/admin/event-registration.js"></script>
{% endblock %}