{% extends "site/layout.twig" %}
{% block content %}

    <!-- Header Carousel -->
    <header id="carousel_topo" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for key, topimage in topimages %}
                <li data-target="#carousel_topo" data-slide-to="{{ key }}" class="{{ key == 0 ? ' active' : '' }}"></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for key, topimage in topimages %}
                <div class="item{{ key == 0 ? ' active' : '' }}">
                    <div class="fill"
                         style="background-image:url('/uploads/banners/{{ topimage.image }}');background-repeat: no-repeat;background-position: center;"></div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>{{ topimage.title }}</h1>

                            <p>{{ topimage.description }}</p>
                            {% if topimage.title != null or topimage.description != null %}
                                <p><a class="btn btn-lg btn-primary{{ topimage.link ? '' : ' hide' }}"
                                      href="{{ topimage.link }}" role="button">Saiba Mais</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel_topo" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel_topo" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Destaques</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col-md-4 col-sm-4">
                <h2>Heading</h2>

                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus magna.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h2>Heading</h2>

                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <h2>Heading</h2>

                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-12 hero-feature">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        OFERTAS IMPERDIVEIS
                    </div>
                    <div class="panel-body panel-sm">
                        <div class="panel-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4="
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" id="media-heading">Media heading<a class="anchorjs-link"
                                                                                                 href="#media-heading"><span
                                                    class="anchorjs-icon"></span></a></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin commodo.
                                </div>
                            </div>
                        </div>
                        <div class="panel-separator"></div>
                        <div class="panel-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4="
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" id="media-heading">Media heading<a class="anchorjs-link"
                                                                                                 href="#media-heading"><span
                                                    class="anchorjs-icon"></span></a></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin commodo.
                                </div>
                            </div>
                        </div>
                        <div class="panel-separator"></div>
                        <div class="panel-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4="
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" id="media-heading">Media heading<a class="anchorjs-link"
                                                                                                 href="#media-heading"><span
                                                    class="anchorjs-icon"></span></a></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin commodo.
                                </div>
                            </div>
                        </div>
                        <div class="panel-separator"></div>
                        <div class="panel-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2ODc1IiB5PSIzMiIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjY0eDY0PC90ZXh0PjwvZz48L3N2Zz4="
                                             data-holder-rendered="true" style="width: 64px; height: 64px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" id="media-heading">Media heading<a class="anchorjs-link"
                                                                                                 href="#media-heading"><span
                                                    class="anchorjs-icon"></span></a></h4>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin commodo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        RECEBA INFORMAÇÕES DA LIBRATEL
                    </div>
                    <div class="panel-body panel-sm">
                        <div class="panel-content">
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" placeholder="Digite seu e-mail">
                                <span class="input-group-btn">
                                    <button id="submit-newsletter" class="btn btn-default" type="button">ok</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--box banner-->
            <div class="col-md-8 col-sm-12">
                {% for key, banner in banners %}
                    <a href="{{ banner.link }}">
                        <img class="img-responsive img-hover img-thumbnail"
                             src="/uploads/banners/{{ banner.image }}"
                             width="100%" alt="">
                    </a>
                {% endfor %}
            </div>
            <div class="col-lg-8">
                <h3>Mais vendidos</h3>
            </div>
            <div class="col-md-2 col-sm-3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">

                    <div class="caption">
                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--end box-->
        </div>
    </div>
    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}