<ul class="nav nav-pills nav-stacked abrasce-nav-list">
    <li class="abrasce-list{{ page == 'numeros-do-setor' ? ' active' : '' }}">
        <a href="/site/monitoramento/numeros-do-setor">
            Números do Setor
        </a>
    </li>
    <li class="abrasce-list{{ page == 'numeros-regionais' ? ' active' : '' }}">
        <a href="/site/monitoramento/numeros-regionais">
            Números Regionais
        </a>
    </li>
    <li class="abrasce-list{{ page == 'numeros-dos-estados' ? ' active' : '' }}">
        <a href="/site/monitoramento/numeros-dos-estados">
            Números dos Estados
        </a>
    </li>
    <li class="abrasce-list{{ page == 'numeros-nas-capitais' ? ' active' : '' }}">
        <a href="/site/monitoramento/numeros-nas-capitais">
            Números nas Capitais
        </a>
    </li>
    <li class="abrasce-list{{ page == 'evolucao-do-setor' ? ' active' : '' }}">
        <a href="/site/monitoramento/evolucao-do-setor">
            Evolução do Setor
        </a>
    </li>
    <li class="abrasce-list{{ page == 'desempenho-da-industria' ? ' active' : '' }}">
        <a href="/site/monitoramento/desempenho-da-industria">
            Desempenho da indústria de Shopping Centers no Brasil
        </a>
    </li>
    <li class="abrasce-list{{ page == 'definicoes-e-convencoes' ? ' active' : '' }}">
        <a href="/site/monitoramento/definicoes-e-convencoes">
            Definições e Convenções
        </a>
    </li>
</ul>