{% extends "site/layout.twig" %}
{% block content %}

<!-- Header Carousel -->
<header id="carousel_topo" class="carousel interno slide">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/img/topo_sobre-a-abrasce.png');"></div>
            <div class="container title-page">
                <div class="carousel-caption carousel-internal">
                    <h1>Abrasce</h1>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div class="container">

    <div class="row row-navigator">
        <div class="col-md-12">
            <h5>Abrasce</h5>
        </div>
    </div>
    <div class="row row-container">
        <div class="col-md-8">
            <h3>{{ title|upper }}</h3>
            <hr>
            {% if image %}
            <img class="img-responsive img-hover" src="/uploads/aboutus/{{ image }}" width="100%" alt="{{ title }}">
            <br>
            {% endif %}
            <p class="description-page">
                {{ description|raw }}
            </p>
        </div>
        <div class="col-md-4 col-right-margin-top-lg">
            <ul class="nav nav-pills nav-stacked abrasce-nav-list">
                {% for item in titlesList %}
                <li class="abrasce-list{{ title|upper == item.title|upper ? ' active' : '' }}">
                    <a href="/site/sobre-a-abrasce/{{ item.title }}">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<!-- /.container -->
<script>
    $(document).ready(function() {
        $("#menu-abrasce").addClass('active');
    });
</script>

{% endblock %}
