{% extends "admin/layout.twig" %}
{% block content %}
<section class="content-header">
    <h1>
        {{ navigate }} - {{ event.title }}
        <small>Painel de controle</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/admin"><i class="fa fa-cogs"></i> Admin</a>
        </li>
        <li>
            <i class="fa fa-trophy"></i> Prêmio ABRASCE
        </li>
        <li><a href="/admin/abrasce-award/events">Evento</a></li>
        <li class="active">{{ navigate }}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-8" style="text-align: left; margin-bottom: 10px;">
            <button type="button" class="btn btn-success new" data-toggle="modal" data-target="#event-sponsor-modal">
                <i class="fa fa-plus"></i> Novo
            </button>
            <button type="button" class="btn btn-primary edit" data-toggle="modal">
                <i class="fa fa-pencil"></i> Alterar
            </button>
            <button type="button" class="btn btn-danger remove" data-toggle="modal">
                <i class="fa fa-times"></i> Remover
            </button>
            <span>|</span>
            <span>
                Alterar Prêmio: 
                <select id='select-event' class="form-control" style="width: 250px; display: inline;">
                    {% for obj in events %}
                    <option value='{{obj.id}}'>{{obj.title}}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
        <div class="col-lg-4" style="text-align: right; margin-bottom: 10px;">
            <div class="info-datatable"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <table id="registers" class="table table-hover table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr role="row">
                            <th tabindex="0" aria-label="Código: activate to sort column ascending" style="width: 100px;">
                                Código
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="registers" rowspan="1" colspan="1" aria-label="Ordem activate to sort column ascending" aria-sort="ascending">
                                Ordem
                            </th>
                            <th tabindex="0" aria-label="Patrocinador: activate to sort column">
                                Patrocinador
                            </th>
                            <th tabindex="0" aria-label="Categoria: activate to sort column">
                                Categoria
                            </th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Ordem</th>
                            <th>Patrocinador</th>
                            <th>Categoria</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% include modal ignore missing %}
{% endblock %}

{% block header_page %}
<script>
    _eventID = {{event.id}};
</script>
<script type="text/javascript" src="/assets/js/admin/abrasce-award/event-sponsor.js"></script>
{% endblock %}